/* 언어설정 */
@charset 'UTF-8';

*{margin: 0; padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none; color: #000;}
img {border: none; vertical-align: bottom;}

/* 박스1설정 */
.box1 {display: flex;
    justify-content: space-between;}
.box1 ul {display: flex;}
.box1 li {margin: 0 20px;
        margin-top: 15px;
        padding: 10px 20px;}
.box1>div {padding: 10px 20px;}
.box1 .logo {width: 150px;
            height: 50px;
            display: flex;
            justify-content:center;
            align-items: center;
            background-color: beige;}
.box1 i {display: none;}
.box1 li:hover {background-color: #eee;
                border: 1px du;
                cursor: pointer;}



/* 박스2설정 */
.box2 {background-color: antiquewhite;
        height: 500px;
        display: flex;
        align-items: center;}
.box2>div {padding: 10px 20px;}
.box2-1 {display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;}
.box2 h2 {font-size: 20px;
         margin-bottom: 20px;}
.box2 p {margin-bottom: 20px;
        width: 60%;}
.box2-1 .btn {width: 150px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    }
.box2-1 .btn:hover {background-color: #000;
                    color: #fff;}
/* 박스3설정 */
.box3{height: 300px;}
.box3_inner {display: flex;
            justify-content: center;
            background-color: burlywood;
            height: 100%;}
.box3_inner>div {width: 25%;
                height: 100%;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;}
.box3_inner p {}
.box3_inner .btn {width: 50px;
                    height: 50px;
                    position: absolute;
                    right:  0;
                    bottom: 0;
                    border: 1px solid #000;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;}


/* 박스4설정 */
.box4 {display: flex;
    height: 400px;
    background-color: tomato;
    align-items: center;}
.box4>div:nth-child(1) {width: 70%;}
.box4>div:nth-child(2) {width: 30%;}
.box4>div {padding: 10px 20px;}
.box4-1 {display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;}
.box4 h2 {font-size: 20px;
         margin-bottom: 20px;}
.box4 p {margin-bottom: 20px;
        width: 60%;}
.box4-1 .btn {width: 150px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    }


/* 박스5설정 */
.box5 {display: flex;
    height: 400px;
    background-color: rgb(244, 175, 163);
    align-items: center;}
.box5>div:nth-child(1) {width: 70%;}
.box5>div:nth-child(2) {width: 30%;}
.box5>div {padding: 10px 20px;}
.box5-1 {display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;}
.box5 h2 {font-size: 20px;
         margin-bottom: 20px;}
.box5 p {margin-bottom: 20px;
        width: 60%;}
.box5-1 .btn {width: 150px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    }





/* 박스6설정 */
.box6 {display: flex;
    height: 400px;
    background-color: rgb(180, 168, 166);
    align-items: center;}
.box6>div:nth-child(1) {width: 70%;}
.box6>div:nth-child(2) {width: 30%;}
.box6>div {padding: 10px 20px;}
.box6-1 {display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;}
.box6 h2 {font-size: 20px;
        margin-bottom: 20px;}
.box6 p {margin-bottom: 20px;
        width: 60%;}
.box6-1 .btn {width: 150px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    }

/* 박스7설정 */
.box7 {display: flex;
    height: 200px;
    background-color: rgb(251, 232, 228);
    align-items: center;}
.box7>div:nth-child(1) {width: 70%;}
.box7>div:nth-child(2) {width: 30%;}
.box7>div {padding: 10px 20px;}
.box7-1 {display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;}


/* 박스8설정 */
.box8-1 {background-color: #222;
        color: #fff;
        height: 50px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 20px;}





/* 미디어쿼리구간####################################### */
/* 789px 이하일 때 */
@media(max-width:789px){


/* 박스1설정 */
.box1 {display: flex;
    justify-content: space-between;}
.box1 i {display: block;
            font-size: 30px;
            margin-top: 10px;}
.box1 ul {display: none;}
.box1 li {margin: 0 20px;}
.box1>div {padding: 10px 20px;}
.box1 .logo {width: 150px;
            height: 50px;
            display: flex;
            justify-content:center;
            align-items: center;
            background-color: beige;}

/* 박스3설정 */
.box3{height: 300px;
    width: 100%;}
.box3_inner {display: flex;
        justify-content: center;
        background-color: burlywood;
        height: 100%;
        width: 100%;
        flex-wrap: wrap;}
.box3_inner>div {width: 100%;
            height: 25%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;}
.box3_inner p {}
.box3_inner .btn {width: 50px;
                height: 50px;
                position: absolute;
                right:  0;
                bottom: 0;
                border: 1px solid #000;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                display: none;}

    /* 박스4설정 */
.box4 {display: flex;
    height: 400px;
    background-color: tomato;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;}
.box4>div:nth-child(1) {width: 100%;}
.box4>div:nth-child(2) {width: 100%;}
.box4>div {padding: 10px 20px;}
.box4-1 {display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;}
.box4 h2 {font-size: 20px;
         margin-bottom: 20px;}
.box4 p {margin-bottom: 20px;
        width: 60%;}
.box4-1 .btn {width: 150px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    }


/* 박스5설정 */
.box5 {display: flex;
    height: 400px;
    background-color: rgb(244, 175, 163);
    align-items: center;
    text-align: center;
    flex-wrap: wrap;}
.box5>div:nth-child(1) {width: 100%;}
.box5>div:nth-child(2) {width: 100%;}
.box5>div {padding: 10px 20px;}
.box5-1 {display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;}
.box5 h2 {font-size: 20px;
         margin-bottom: 20px;}
.box5 p {margin-bottom: 20px;
        width: 60%;}
.box5-1 .btn {width: 150px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    }


/* 박스6설정 */
.box6 {display: flex;
    height: 400px;
    background-color: rgb(180, 168, 166);
    align-items: center;
    text-align: center;
    flex-wrap: wrap;}
.box6>div:nth-child(1) {width: 100%;}
.box6>div:nth-child(2) {width: 100%;}
.box6>div {padding: 10px 20px;}
.box6-1 {display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;}
.box6 h2 {font-size: 20px;
        margin-bottom: 20px;}
.box6 p {margin-bottom: 20px;
        width: 60%;}
.box6-1 .btn {width: 150px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    }

/* 박스7설정 */

.box7 {display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    background-color: rgb(251, 232, 228);}
.box7>div {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;}

.box7>div:nth-child(1) {background-color: thistle;
    width: 100%;
    box-sizing: border-box;}


}


/* 1090px 이하일 때 */
@media(min-width:790px) and (max-width:1090px){

/* 박스1설정 */
.box1 {display: flex;
    justify-content: space-between;}
.box1 i {display: block;
            font-size: 30px;
            margin-top: 10px;}
.box1 ul {display: none;}
.box1 li {margin: 0 20px;}
.box1>div {padding: 10px 20px;}
.box1 .logo {width: 150px;
            height: 50px;
            display: flex;
            justify-content:center;
            align-items: center;
            background-color: beige;}


/* 박스3설정 */
.box3{height: 300px;
        width: 100%;}
.box3_inner {display: flex;
            justify-content: center;
            background-color: burlywood;
            height: 100%;
            width: 100%;
            flex-wrap: wrap;}
.box3_inner>div {width: 50%;
                height: 50%;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;}
.box3_inner p {}
.box3_inner .btn {width: 50px;
                    height: 50px;
                    position: absolute;
                    right:  0;
                    bottom: 0;
                    border: 1px solid #000;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    display: none;}


/* 박스4설정 */
.box4 {display: flex;
    height: 400px;
    background-color: tomato;
    align-items: center;
    position: relative;}
.box4>div:nth-child(1) {width: 70%;}
.box4>div:nth-child(2) {width: 30%;}
.box4>div {padding: 10px 20px;}
.box4-1 {display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;}
.box4 h2 {font-size: 20px;
         margin-bottom: 20px;}
.box4 p {margin-bottom: 20px;
        width: 60%;}
.box4-1 .btn {width: 150px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    }
.box4-2 { width: 20%;
            height: 200px;
            background-color: #eee;
            position: absolute;
            bottom: 0;
            right: 0;}

/* 박스5설정 */
.box5 {display: flex;
    height: 400px;
    background-color: rgb(244, 175, 163);
    align-items: center;
    position: relative;}
.box5>div:nth-child(1) {width: 70%;}
.box5>div:nth-child(2) {width: 30%;}
.box5>div {padding: 10px 20px;}
.box5-1 {display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;}
.box5 h2 {font-size: 20px;
         margin-bottom: 20px;}
.box5 p {margin-bottom: 20px;
        width: 60%;}
.box5-1 .btn {width: 150px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    }

.box5-2 { width: 20%;
        height: 200px;
        background-color: #eee;
        position: absolute;
        bottom: 0;
        right: 0;}



/* 박스6설정 */
.box6 {display: flex;
    height: 400px;
    background-color: rgb(180, 168, 166);
    align-items: center;
    position: relative;}
.box6>div:nth-child(1) {width: 70%;}
.box6>div:nth-child(2) {width: 30%;}
.box6>div {padding: 10px 20px;}
.box6-1 {display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;}
.box6 h2 {font-size: 20px;
        margin-bottom: 20px;}
.box6 p {margin-bottom: 20px;
        width: 60%;}
.box6-1 .btn {width: 150px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    }

.box6-2 { width: 20%;
        height: 200px;
        background-color: #eee;
        position: absolute;
        bottom: 0;
        right: 0;}
/* 박스7설정 */

.box7 {display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    background-color: rgb(251, 232, 228);}
.box7>div {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;}

.box7>div:nth-child(1) {background-color: thistle;
    width: 100%;}


}