<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃004</title>
    <!-- 외부스타일시트연결 -->
    <link rel="stylesheet" href="layout004.css">
    <!-- 그리드가이드연결 
    <link rel="stylesheet" href="grid-guide.css">-->
</head>
<body>
    
    <!-- <p class="img"><img src="https://picsum.photos/id/36/1000/1000" alt=""></p>


    <style>
        .img {width: 1000px;
            height: 1000px;
            background-color: red;
            border-radius: 40% 70% 60% 40%/40% 40% 40% 30%;
        overflow: hidden;}
    </style> -->

    <header class="box1">
        <div class="logo">
            <img src="img/logo12-removebg-preview.png" alt="">
        </div>
        <div class="gnb">
            <ul>
                <li>menu1</li>
                <li>menu2</li>
                <li>menu3</li>
                <li>menu4</li>
                <li>menu5</li>
            </ul>
        </div>
        <div class="btn">LogIn</div>
    </header>
    
    <main id="wrap">
        <div class="box2">
            <div class="vid">
                <video loop autoplay muted>
                    <source src="img/Ramse.mp4">
                </video>
            </div>
            <div class="hero">
                <div class="txtBox">
                    <strong>Photographed by Phil Oh</strong> 
                    <p>5 Street Style Styling Tricks to Steal From the Guys at Milan Men’s Fashion Week</p></div>
                <div class="imgBox"> 
                    <img src="https://assets.vogue.com/photos/5f4e5eb64a4f516137a89b77/16:9/w_1920%2Cc_limit/08-Pitti-Mens-FW-18-Day-1.jpg" alt="">
                </div>
            </div>
        </div>



        <div class="box3">
            <div class="titleBox">
                <strong><span>Men’s Fashion,</span> Style & Latest Trends</strong> 
                    <p>Dolorem illum, libero eum sed, autem enim magni qui placeat aperiam ea mollitia numquam aspernat.</p>
            </div>
            <div class="listBox">
                <div class="listBox1">
                    <ul>
                        <li>
                            <img src="https://assets.vogue.com/photos/58911e41b482c0ea0e4d613e/4:3/w_1920,c_limit/00-holding-inspired-by-the-boys-milan.jpg" alt="">
                        </li>
                        <li>RUNWAY</li>
                        <p>It’s Official: We’ve Reached Peak Ikea</p>
                    </ul>
                </div>
                <div class="listBox2">
                    <ul>
                        <li>
                            <img src="https://assets.vogue.com/photos/5941580f704a2a32d66c6735/4:3/w_1920,c_limit/00-ikea-pitti-uomo-holding.jpg" alt="">
                        </li>
                        <li>CELEBRITY STYLE</li>
                        <p>If You’re in the Market for a New Hoodie, Make It This One</p>
                    </ul>
                </div>
                <div class="listBox3">
                    <ul>
                        <li>
                            <img src="https://assets.vogue.com/photos/5891e0ebb482c0ea0e4db2a8/master/w_1920,c_limit/02-lestrange.jpg" alt="">
                        </li>
                        <li>CELEBRITY STYLE</li>
                        <p>Russell Westbrook’s New Look Is Nothing But Net</p>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box4">
            <div class="box4-inner">
                <div class="box4-1">
                    <div class="title">Men’s Fashion</div>
                    <div class="txt">Repellendus numquam possimus accusamus inventore? Dicta alias consequatur sed sint odit aperiam, molestias rem nesciunt molestiae eius sit iure! Et, qui adipisci.</div>
                    <div class="btn"><p>button</p></div>
                </div>
                <div class="box4-2">
                    <ol class="listBox">
                        <li><strong>46 Wonderful Gifts for Men</strong> <br> Dicta alias consequatur sed sint odit aperiam.</li>
                        <li><strong>53 Wonderful Gifts for Men</strong> <br> Dicta alias consequatur sed sint odit aperiam.</li>
                        <li><strong>27 Wonderful Gifts for Men</strong> <br> Dicta alias consequatur sed sint odit aperiam.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="box5">
            <div class="box5-inner">
                <div class="titleBox">
                    <p>Lorem ipsum dolor sit</p>
                    <strong>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </strong></div>
                <div class="txtBox"><span>Repellendus numquam possimus accusamus inventore? Dicta alias consequatur sed sint odit aperiam, molestias rem nesciunt molestiae eius sit iure! Et, qui adipisci.</span>
                <div class="btn"><p>button</p></div>
            </div>
            </div>
        </div>
    </main>
</body>
</html>