<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout001</title>
    <!-- 외부스타일시트연결 -->
    <link rel="stylesheet" href="layout001.css">
    <!-- 그리드가이드연결
    <link rel="stylesheet" href="grid-guide.css"> -->
</head>
<body>
    <div class="box1">
        <h2>
            <img src="img/nasalogo_b.png" alt="" width="150" height="150">
        </h2>
        <div class="gnb">
            <ul>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
            </ul>
        </div>
    </div>
    <div class="box2">
        <video>
            <source>
        </video>
        
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid impedit provident, voluptatum aliquam omnis, vitae ad itaque laborum deserunt earum est veniam, officiis nostrum amet. Sequi quibusdam rem necessitatibus. Ad!</p>
        <div class="btn">
            button
        </div>
    </div>
    <div class="box3">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid impedit provident, voluptatum aliquam omnis, vitae ad itaque laborum deserunt earum est veniam, officiis nostrum amet. Sequi quibusdam rem necessitatibus. Ad!</p>
    </div>
    <div class="box4">
        <div class="box4-1">imgbox</div>
        <div class="box4-2">
            <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid impedit provident, voluptatum aliquam omnis, vitae ad itaque laborum deserunt earum est veniam, officiis nostrum amet. Sequi quibusdam rem necessitatibus. Ad!</p>
        <div class="btn">
            button
        </div>
        </div>
    </div>


    <div class="box5">
        <div class="imgbox">
            <p>img</p>
            <p>img</p>
            <p>img</p>
        </div>
        <div class="txtbox">
            <p>txt</p>
            <p>txt</p>
            <p>txt</p>
        </div>
    </div>



    <div class="box6">
        <div class="box6-1">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid impedit provident, voluptatum aliquam omnis, vitae ad itaque laborum deserunt earum est veniam, officiis nostrum amet. Sequi quibusdam rem necessitatibus. Ad!</p>
        </div>
    </div>
    <div class="box7">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid impedit provident, voluptatum aliquam omnis, vitae ad itaque laborum deserunt earum est veniam, officiis nostrum amet. Sequi quibusdam rem necessitatibus. Ad!</p>
    </div>
    <div class="box8">
        <div class="link">
            <ul>
                <li>menu</li>
                <li>menu</li>
                <li>menu</li>
            </ul>
        </div>
        <h2>logo</h2>
       
        <div class="contact">
            <ul>
                <li>menu</li>
                <li>menu</li>
                <li>menu</li>
            </ul>
        </div>
    </div>
</body>
</html>