<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃007</title>
    <!-- 외부스타일시트연결 -->
    <link rel="stylesheet" href="layout007_2.css">
    <!-- 그리드사이드 연결
    <link rel="stylesheet" href="grid-guide.css"> -->

    <!-- 제이쿼리cdn -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        $(document).ready(function(){

            // top을 클릭했을 때
            $('.top').click(function(){


                $('html,body').animate({'scrollTop':0},1800)
            })

        })

    </script>
</head>
<body>
    <div class="box1">
        <div class="box1-1">
            <div>
                <div class="util">
                    <ul>
                        <li><a href="#">login</a></li>
                        <li><a href="#">language</a></li>
                        <li><a href="#">search</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box1-2">
            <header class="header">
                <h1>logo</h1>
                <span>&#8801;</span>
                <nav class="gnb">
                    
                    <ul>
                        <li><a href="#">menu1</a></li>
                        <li><a href="#">menu2</a></li>
                        <li><a href="#">menu3</a></li>
                        <li><a href="#">menu4</a></li>
                        <li><a href="#">menu5</a></li>
                        <li><a href="#">menu6</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="box1-3">
            <div class="hero">
                <div class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
                <div class="txtBox">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dignissimos accusamus debitis veniam saepe tempora ab consequuntur? Iure reiciendis voluptates nisi ut alias nesciunt doloribus quae dolor adipisci? Cupiditate, eum.</div>
                <p class="more">more</p>
            </div>
        </div>
    </div>

    <div class="box2">
        <div class="box2-1">
            <strong>TXTBOX TITLE</strong>
            <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, aspernatur! Adipisci modi placeat illum quidem debiti</P>
            <span class="ico">icon</span>
        </div>
        <div class="box2-2">
            <strong>TXTBOX TITLE</strong>
            <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, aspernatur! Adipisci modi placeat illum quidem debiti</P>
            <span class="ico">icon</span>
        </div>
        <div class="box2-3">
            <strong>TXTBOX TITLE</strong>
            <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, aspernatur! Adipisci modi placeat illum quidem debiti</P>
            <span class="ico">icon</span>
        </div>
        <div class="box2-4">
            <strong>TXTBOX TITLE</strong>
            <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, aspernatur! Adipisci modi placeat illum quidem debiti</P>
            <span class="ico">icon</span>
        </div>
    </div>

    <div class="box3">
    <div class="inner3-1">
            <div class="box3-1">
                <div class="txtBox">
                    <strong>TXTBOX TITLE</strong>
                <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, aspernatur! Adipisci modi placeat illum quidem debiti</P>
                <span class="more">자세히 보기</span>
                </div>
                <div class="imgBox">
                    <img src="https://picsum.photos/id/17/500/300" alt="">
                </div>
            </div>
    </div>
   <div class="inner3-2">
            <div class="box3-2">
                <div class="txtBox">
                    <strong>TXTBOX TITLE</strong>
                <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, aspernatur! Adipisci modi placeat illum quidem debiti</P>
                <span class="more">자세히 보기</span>
                </div>
                <div class="imgBox">
                    <img src="https://picsum.photos/id/15/500/300" alt="">
                </div>
            </div>
   </div>
        
<div class="inner3-3">
            <div class="box3-3">
                <div class="txtBox">
                    <strong>TXTBOX TITLE</strong>
                <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, aspernatur! Adipisci modi placeat illum quidem debiti</P>
                <span class="more">자세히 보기</span>
                </div>
                <div class="imgBox">
                    <img src="https://picsum.photos/id/10/500/300" alt="">
                </div>
            </div>
</div>
        </div>


    <div class="box4">
        <div class="box4-1">
            <div class="map">
                <h3>contents Us</h3>
                <div class="mapBox">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d803.1716201888242!2d127.38686459919735!3d36.3683723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3565497f5d03e619%3A0xb3fc1a9c65052b0!2z7ZWc67Ct7IiY66qp7JuQ!5e0!3m2!1sko!2skr!4v1699412783480!5m2!1sko!2skr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <ul>
                        <li>오시는 길</li>
                        <li>위치</li>
                        <li>시간</li>
                    </ul>
                </div>
            </div>
            <div class="snsSet">
                <h3>SNS</h3>
                <ul>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="box4-2">
            <p>Capyright &copy; 2023. kyurim. All rights reserved</p>
        </div>
        <div class="top"> &#9650; </div>

    </div>
</body>
</html>