<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAYOUT002</title>

    <!-- 외부스타일시트연결 -->
    <link rel="stylesheet" href="layout002.css">
    <!-- 그리드라이드 연결 -->
    <link rel="stylesheet" href="grid-guide.css">
    <!-- 제이쿼리cdn -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- 외부스크립트연결  -->
    <script src="layout002.js"></script>
</head>
<body>

    <div class="box1">
        <div class="box1_inner">
            <div class="box1-1">logo</div>
            <div class="box1-2">
                <ul>
                    <li><a href="#">util</a></li>
                    <li><a href="#">util</a></li>
                    <li><a href="#">util</a></li>
                    <li><a href="#">util</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="box2">
        <div class="box2_inner">
            <div class="box2-1">ihil praesentium impedit dolores!</div>
            <div class="box2-2">
                img
            </div>
            <div class="box2-3"><a href="#">Button</a></div>
        </div>
    </div>
</div>

    <div class="box3">
        <div class="box3_inner">
            <ul>
                <li><p>img</p></li>
                <li><p>txt</p></li>
            </ul>
        </div>
    </div>
</div>

    <div class="box4">
        <div class="box4_inner">
            <h2>title</h2>
            <ul>
                <li>아이콘1</li>
                <li>아이콘2</li>
                <li>아이콘3</li>
            </ul>
        </div>
    </div>


    <div class="box5">
        <div class="box5_inner">
            <h2>title</h2>
            <div class="box5-imgBox">
                <div>imgbox2</div>
                <div>imgbox2</div>
                <div>imgbox3</div>
            </div>
        </div>
    </div>


    <div class="box6">
        <div class="box6_inner">
            <h2>title</h2>
            <div class="box6-1">
                <div>imgbox</div>
                <div>txtbox</div>
            </div>
            <div class="box6-2">
                <div>imgbox</div>
                <div>txtbox</div>
            </div>
            <div class="box6-3">
                <div>imgbox</div>
                <div>txtbox</div>
            </div>
        </div>
    </div>


    <div class="box7">
        <div class="box7_inner">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sequi iusto asperiores necessitatibus nobis hic corrupti eveniet inventore laudantium? Ab quas adipisci nulla. Quibusdam molestiae assumenda blanditiis aliquam debitis exercitationem.</p>
            <p>more</p>
        </div>
    </div>


    <div class="box8">
        <div class="box8_inner">
            <h2>title</h2>
            <div class="container">
                <ul>
                    <li>img</li>
                    <li>img</li>
                    <li>img</li>
                </ul>
            </div>
                <p class="left">left</p>
                <p class="right">right</p>
        </div>
    </div>


    <div class="box9">
        <div class="box9_inner">
            <div class="box9-1">txtbox</div>
            <div class="box9-2">mapbox</div>
        </div>
    </div>


    <div class="box10">
        <div class="box10_inner">
            <div class="box10-1">icon</div>
            <div class="box10-2">sitemap</div>
        </div>
    </div>

</body>
</html>