<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃11</title>
    <!--  외부스크립트 연결 -->
    <link rel="stylesheet" href="layout011.css">
    <!-- 그리드가이드연결 
    <link rel="stylesheet" href="grid-guide.css">-->
    <!-- 폰트어썸cdn -->
    <script src="https://kit.fontawesome.com/f3c480df09.js" crossorigin="anonymous"></script>
  
</head>
<body>
    <header class="box1">
        <div class="box1-1">
            <img src="img/thebarnet_logo.png" alt="">
        </div>
        <div class="box1-2">
            <nav>
                <ul>
                    <li><a href="#">menu</a></li>
                    <li><a href="#">menu</a></li>
                    <li><a href="#">menu</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="box2">
            <div class="box2-1">
                <p><img src="https://m.the-barnnet.com/web/product/medium/202304/1a809959e096c378a5827cabe1b26e00.jpeg" alt=""></p>
            </div>
            <div class="box2-2">
                <strong>Editorial</strong>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem provident reprehenderit blanditiis, quo ipsum ratione rem, corrupti ipsa alias odio facere beatae porro repellendus veniam sequi aspernatur laborum. Aliquid, obcaecati.</p>
        
            <div class="sns">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-threads"></i></a><p>threads</p></li>
                    
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a><p>facebook</p></li>
                    
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a><p>instagram</p></li>
                    
                </ul>
            </div>
        </div>
        </section>

        <section class="box3">
            <div class="box3-1">
                <h2>2023 FALL COLLECTION</h2>
                <ul>
                    <li><img src="https://m.the-barnnet.com/web/img/editorial/2023%20FALL%20Collection/01.jpg" alt="">
                        <div class="txtBox">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        </div>
                    </li>
                    <li><img src="https://m.the-barnnet.com/web/img/editorial/2023%20FALL%20Collection/03.jpg" alt="">
                        <div class="txtBox">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        </div>
                    </li>
                    <li><img src="https://m.the-barnnet.com/web/img/editorial/2023%20FALL%20Collection/04.jpg" alt="">
                        <div class="txtBox">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        </div>
                    </li>
                    <li><img src="https://m.the-barnnet.com/web/img/editorial/2023%20FALL%20Collection/05.jpg" alt="">
                        <div class="txtBox">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        </div>
                        
                    </li>
                    <!--li에 사이즈값을 모두 부여하고 txt박스를 포지션으로 이동해서 
                    li아래부분에 안보이게 배치해놓음.
                    이때 기준이 li로 만들기.
                    img와 txt 박스에 z-index사용.-->
                </ul>
                    
            </div>
            <div class="box3-2">
                <h2>COLLECTION </h2>
                <ul>
                    <li><img src="https://m.the-barnnet.com/web/img/editorial/2023%20FALL%20Collection/01.jpg" alt=""></li>
                    <li><img src="https://m.the-barnnet.com/web/img/editorial/2023%20FALL%20Collection/03.jpg" alt=""></li>
                    <li><img src="https://m.the-barnnet.com/web/img/editorial/2023%20FALL%20Collection/04.jpg" alt=""></li>
                    <li><img src="https://m.the-barnnet.com/web/img/editorial/2023%20FALL%20Collection/05.jpg" alt=""></li>
                </ul>
                <!--마우스 호버시 동그라미내부에 백그라운드컬러를 넣고 아이콘의 색은 변경되게 설정-->
            </div>
            <div>
                        <p class="left">L</p>
                        <p class="right">R</p>
                    </div>
        </section>

        <section class="box4">
            <div class="box4-1">
                <h2>Login</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis error eligendi dignissimos deserunt eos illum, minus accusamus natus ducimus.</p>
            </div>
            <div class="box4-2">
                <form action="#">
                    <input type="text" class="form_title">
                    <input type="text" class="email">
                    <textarea class="memo"></textarea>
                    <input type="submit">
                </form>
            </div>
        </section>
    </main>

    <footer>
        <p>copyright &copy; 2023 kyurim All Rights Reserved.</p>
    </footer>
</body>
</html>