<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃003</title>
    <!-- 외부스타일시트 연결 -->
    <link rel="stylesheet" href="layout003.css">
    <!-- 그리드가이드 연결 
    <link rel="stylesheet" href="grid-guide.css">-->
</head>
<body>
    <div class="box1">
        <div class="box1_inner">
            <div class= "box1-1 logo">
                <h1><img src="http://img.ouimerci.co.kr/2021_re/logo.png" alt=""></h1>
            </div>
            <div class="box1-2 gnb">
                <ul>
                    <li><a href="#">menu1</a></li>
                    <li><a href="#">menu2</a></li>
                    <li><a href="#">menu3</a></li>
                    <li><a href="#">menu4</a></li>
                    <li><a href="#">menu5</a></li>
                    <li><a href="#">menu6</a></li>
                    <li><a href="#">menu7</a></li>
                    <li><a href="#">menu8</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box2">
        <div class="hero">
            <div class="txtBox">
                <h2>Lorem ipsum dolor sit.</h2>
                <span>amet consectetur adipisicing elit. Voluptatibus placeat porro harum debitis hic quis. Voluptatum hic dolorem exercitationem pariatur, numquam eos quam quasi, iusto, nostrum vitae inventore non fugit</span>
            </div>
            <div class="imgBox">
                <img src="http://img.ouimerci.co.kr/urbanic30_23ss/tram_cardigan_cam_17.jpg" alt="">
            </div>
        </div>

        <div class="localMenu">
            <a href="#">
                <div class="menu1">
                    <p>Amet consectetur elit.</p>
                    <span>more</span>
                </div>
            </a>
            <a href="#">
                <div class="menu2">
                    <p>Voluptatibus debitis hic quis. </p>
                    <span>more</span>
                </div>
            </a>
            <a href="#">
                <div class="menu3">
                    <p>Exercitationem pariatur.</p>
                    <span>more</span>
                </div>
            </a>
            <a href="#">
                <div class="menu4">
                    <p>Debitis hic quis.</p>
                    <span>more</span>
                </div>
            </a>
        </div>
    </div>
    <div class="box3">
        <article class="box3-1">
            <h1>Title</h1>
            <p>Expedita dolorem harum, sunt mollitia nesciunt eveniet excepturi ipsa ullam laborum voluptatum exercitationem amet quod eaque repellendus? Dolorum illum quo nostrum libero!</p>
        </article>
        <div class="box3-2">
            <div class="imgBox">
                <img src="http://img.ouimerci.co.kr/urbanic30_23ss/buttonhole_stitch_shirt_cam_8.jpg" alt="">
            </div>
            
            <div class="listBox">
                <ul>
                    <li><a href="#">
                        <img src="https://cdn3-aka.makeshop.co.kr/shopimages/urbanic30/006001000030.jpg" alt="">
                        <strong>Title</strong>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </a></li>

                    <li><a href="#">
                        <img src="https://cdn3-aka.makeshop.co.kr/shopimages/urbanic30/009003000014.jpg" alt="">
                        <strong>Title</strong>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="box4">
        <h2>Title</h2>
        <div class="box4-1">
            <div class="listBox">
                <ul>
                    <li><img src="https://www.urbanic30.com/shopimages/urbanic30/0060030000712.jpg" alt=""> <p>ipsum dolor sit amet</p></li>
                    <li><img src="https://board.makeshop.co.kr/board/special249/urbanic30_image16/22winter.jpg" alt=""> <p>ipsum dolor sit amet</p></li>
                    <li><img src="https://board.makeshop.co.kr/board/special249/urbanic30_image16/20220904161548172.jpg" alt=""> <p>ipsum dolor sit amet</p></li>
                    <li><img src="https://board.makeshop.co.kr/board/special249/urbanic30_image16/20220904161644327.jpg" alt=""> <p>ipsum dolor sit amet</p></li>
                </ul>
            </div>
            <div class="imgBox">
                <ul><!--/ul의 크기값을 설정을 한 후 relative를 준다
                    li를 모든 아이들을 똑같이 같은 구간에 붙여놓는다.
                    이미지- width:100%만-->
                    <li><img src="https://www.urbanic30.com/shopimages/urbanic30/0060030000712.jpg" alt=""></li>
                    <li><img src="https://board.makeshop.co.kr/board/special249/urbanic30_image16/22winter.jpg" alt=""></li>
                    <li><img src="https://board.makeshop.co.kr/board/special249/urbanic30_image16/20220904161548172.jpg" alt=""></li>
                    <li><img src="https://board.makeshop.co.kr/board/special249/urbanic30_image16/20220904161644327.jpg" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box5">
        <div class="box5-1">
            <div class="title">Title</div>
            <div class="listBox">
                <ul>
                    <li><img src="https://www.urbanic30.com/shopimages/urbanic30/0060030000962.jpg" alt=""> <p>vero officiis? Modi</p></li>
                    <li><img src="http://img.ouimerci.co.kr/urbanic30_23fw/baignoir_perfume_5.jpg" alt=""><p> vero officiis? Modi</p></li>
                </ul>
            </div>
            <div class="btn">
                <p>button</p>
                <p>button</p>
            </div>
        </div>
        <div class="box5-2">
            <img src="http://img.ouimerci.co.kr/urbanic30_23fw/baignoir_perfume_3.jpg" alt="">
        </div>
    </div>
    <div class="box6">
        <div class="box6-1">
            <strong>title</strong>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit in voluptateex sit vero officiis? Modi quaerat.</p>
        </div>
        <div class="box6-2">
            <video loop muted autoplay>
                <source src="http://img.ouimerci.co.kr/2021_re/Urbanic_Main-Film_Final.mp4">
            </video>
        </div>
        <div class="box6-3">
            <strong>title</strong>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit in voluptateex sit vero officiis? Modi quaerat.</p>
        </div>
    </div>
    <div class="box7">
        <div class="box7-1">
            <div class="container">
                 <img src="https://www.urbanic30.com/design/urbanic30/2021/main-1.jpg" alt="">

            </div>
            <p class="left"> &lt; </p>
            <p class="right"> &gt; </p>
        </div>
        <div class="box7-2">
            <div class="trailler">
                <ul>
                    <li><img src="https://www.urbanic30.com/shopimages/urbanic30/0010040001562.jpg" alt=""></li>
                    <li><img src="https://www.urbanic30.com/shopimages/urbanic30/0020040000652.jpg" alt=""></li>
                    <li><img src="https://www.urbanic30.com/shopimages/urbanic30/0060030001002.jpg" alt=""></li>
                    <li><img src="https://www.urbanic30.com/shopimages/urbanic30/0010040001752.jpg" alt=""></li>
                    <li><img src="https://www.urbanic30.com/shopimages/urbanic30/0040020000582.jpg" alt=""></li>
                    <li><img src="https://www.urbanic30.com/shopimages/urbanic30/0020030000222.jpg" alt=""></li>
                    <li><img src="https://www.urbanic30.com/shopimages/urbanic30/0010040000862.jpg" alt=""></li>
                    <li><img src="https://www.urbanic30.com/shopimages/urbanic30/0020030000662.jpg" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box8">
        <div class="box8-1">
            <img src="https://board.makeshop.co.kr/board/special249/urbanic30_image16/20210724125003351.jpg" alt="">
        </div>
        <div class="box8-2">
            <div class="txtBox">
                <strong>Title</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elir.</p>
                <span>Illum cumque rem omnis inventore. At voluptatum corporis quas, veritatis.
                    consectetur adipisicing consectetur adipisicing elit. Illum cumque rem omnis inventore. At voluptatum corporis quas, veritatis.</span>
        </div>
        </div>
    </div>
    <div class="box9">
        <div class="box9-1">
            <strong>Title</strong>
                <p>Lorem ipsum dolor sit amet, <br>consectetur adipisicing consectetur adipisicing elit.
                    Illum cumque rem omnis inventore.At voluptatum corporis quas, veritatis.</p>
        </div>
        <div class="box9-2">inputBox</div>
    </div>
    <div class="box10">
        <div class="box10_inner">
            <div class="box10-1">
                <img src="img/image-removebg-preview (6).png" alt="">
            </div>
            <div class="box10-2"><ul>
                <li>menu</li>
                <li>menu</li>
                <li>menu</li>
                <li>menu</li>
                <li>menu</li>
            </ul></div>
        </div>
    </div>
</body>
</html>