<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAYOUT001-1</title>
    <!-- 외부스타일연결 -->
    <link rel="stylesheet" href="layout001_1.css">
    <!-- 그리드가이드연결
    <link rel="stylesheet" href="grid-guide.css"> -->
</head>
<body>
    <header class="box1">
        <div class="box1-1">logo</div>
        <nav class="box1-2">
            <ul>
                <li><a href="#">menu1</a></li>
                <li><a href="#">menu2</a></li>
                <li><a href="#">menu3</a></li>
                <li><a href="#">menu4</a></li>
            </ul>
        </nav>
    </header>

    <div class="box2">hero</div>

    <div class="box3">
        <div class="box3_inner">
            <p>title</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis sunt illum illo ut aspernatur, eveniet accusamus possimus a, laudantium, nulla atque ipsa ad ipsam deleniti ullam tempore quo cupiditate odit.</p>
        </div>
    </div>

    <section class="box4">
        <div class="box4_inner">
            <article class="box4-1">
                <p>imgbox</p>
            </article>
            <article class="box4-2">txtbox</article>
        </div>
    </section>
    
    <section class="box5">
        <div class="box5_inner">
            <article class="box5-1"><p>img1</p></article>
            <article class="box5-2"><p>img2</p></article>
            <article class="box5-3"><p>img3</p></article>
        </div>
    </section>

    <div class="box6">
        <p>title</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis sunt illum illo ut aspernatur, eveniet accusamus possimus a, laudantium, nulla atque ipsa ad ipsam deleniti ullam tempore quo cupiditate odit.</p>
    </div>

    <div class="box7">
        <p>title</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis sunt illum illo ut aspernatur, eveniet accusamus possimus a, laudantium, nulla atque ipsa ad ipsam deleniti ullam tempore quo cupiditate odit.</p>
    </div>

    <div class="box8">
       <div class="box8_inner">
            <div class="box8-1">siteMap</div>
            <div class="box8-2">bottom_logo</div>
            <div class="box8-3">contactBox</div>
       </div>
    </div>
</body>
</html>