<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout007</title>
    <!-- 외부스타일연결 -->
    <link rel="stylesheet" href="layout007_1.css">
    <!-- 그리드가이드 연결
    <link rel="stylesheet" href="grid-guide.css"> -->
    <!-- 폰트어썸 cdn -->
    <script src="https://kit.fontawesome.com/f3c480df09.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="box1">
        <div class="logo"><img src="img/logo_heart_b.png" alt="" width="100" height="88"></div>
        <div>
            <i class="fa fa-bars" aria-hidden="true"></i>
            <ul>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
            </ul>
        </div>
    </div>
    <div class="box2">
            <div class="vid">
                <video loop autoplay muted >
                    <source src="img/poppy.mp4" >
                </video>
            </div>
        <div class="box2-1">
            <div class="box2_inner">
                <h2>Baignoire de Urbanic</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore quisquam amet beatae, neque magnam repellat corrupti recusandae voluptatum facilis molestiae tempore rem pariatur eligendi totam saepe qu</p>
                <div class="btn"><a href="#">btn</a></div>
            </div>
        </div>
        
    </div>
    <div class="box3">
        <div class="box3_inner">
            <div class="box3-1">txt <div class="btn">btn</div></div>
            <div class="box3-2">txt <div class="btn">btn</div></div>
            <div class="box3-3">txt<div class="btn">btn</div></div>
            <div class="box3-4">txt <div class="btn">btn</div></div>
        </div>
    </div>

    <div class="box4">
        <div class="box4-1">
            <h2>title</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore quisquam amet beatae, neque magnam repellat corrupti recusandae voluptatum facilis molestiae tempore rem pariatur eligendi totam saepe qu</p>
            <div class="btn"><a href="#">btn</a></div>
        </div>
        <div class="box4-2">img</div>
    </div>

    <div class="box5">
        <div class="box5-1"> 
            <h2>title</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore quisquam amet beatae, neque magnam repellat corrupti recusandae voluptatum facilis molestiae tempore rem pariatur eligendi totam saepe qu</p>
            <div class="btn"><a href="#">btn</a></div></div>
        <div class="box5-2">img</div>
    </div>
    <div class="box6">
        <div class="box6-1">
            <h2>title</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore quisquam amet beatae, neque magnam repellat corrupti recusandae voluptatum facilis molestiae tempore rem pariatur eligendi totam saepe qu</p>
            <div class="btn"><a href="#">btn</a></div>
        </div>
        <div class="box6-2">img</div>
    </div>



    <div class="box7">
        <div class="box7-1">contact</div>
        <div class="box7-2">media</div>
    </div>
    <div class="box8">
        <div class="box8-1">sitemap</div>
    </div>
</body>
</html>